// Colors
$primary-color: #31abbc;
$secondary-color:#00bcd4;
$text-color: black;
$text-color2: white;
$background-color: white;
$background-color2: #a4c7cb;
$background-color3: black;

// Fonts
$font-family-default: 'DM Sans', sans-serif;

// Default 
$padding-default: 2rem;
$margin-bottom-default: 1rem;

// Box-shadows
$shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


// Breakpoints for Media Queries
$desktop-min: 769px;
$tablet: 768px;
$mobile: 500px;